<!DOCTYPE html>
<html lang="en">

<head>

    <title>Mongoose Intro</title>
</head>

<body>
    <nav>
        <a href="/cats"> show all cats</a>
        <a href="/cats/new"> Show New Cat</a>

    </nav>




    {{{body}}}
</body>

</html>