{{!-- action is the destination after submitting --}}
<form action="/cats/create" method="post">

    <label for="catName">Name:</label>
    <input type="text" name="name" id="catName">
    <label for="catAge">Age:</label>
    <input type="number" name="age" id="catAge">
    <button type="submit"> Save the Cat </button>

</form>